.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.accordion__item {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.accordion__summary {
  padding: 24px 32px;
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  cursor: pointer;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__content {
  padding: 0 48.7px 32px 32px;
  color: var(--grey-4);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
