.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(196, 196, 196, 0.5);
  --primary: #334D6E;
}
.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 428px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 30px 40px 33px;
}
.modal__title {
  color: var(--primary);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.modal__description {
  color: var(--grey-4);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
}
.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
