.skeleton {
  --gradient: linear-gradient(93deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
  background-color: var(--white);
  padding: 24px 40px 32px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.skeleton__top {
  display: flex;
  column-gap: 16px;
}
.skeleton__circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--gradient);
}
.skeleton__column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skeleton__line {
  height: 20px;
  background: var(--gradient);
}
.skeleton__line_size_30 {
  width: 30%;
}
.skeleton__line_size_50 {
  width: 50%;
}
.skeleton__line_size_100 {
  width: 100%;
}
.skeleton__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}